.function-list--card {
  margin-bottom: 5px;
}

.function-list--content {
  display: flex;
  justify-content: space-between;
}

.function-list--content, #project-type-label, .result-item-title, .result-item-value {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #666;
}

.result-item-title {
  font-weight: bold;
}
.result-value {
  margin: 10px 15px;
}

#project-name {
  width: 100%;
}

#results {
  margin: 15px auto;
  background-color:beige;
  width: fit-content;
}


