<form id="form-counted-project">
  <label for="project-name" id="project-name-label">Project Name</label>
  <input type="text" id="project-name" />

  <label for="project-type" id="project-type-label">Project type</label>
  <select id="project-type">
    <option value="DEVELOPMENT">Development</option>
    <option value="ENHANCEMENT">Enhancement</option>
    <option value="APPLICATION">Application</option>
  </select>

  <button id="project-influence-button">Influence factors</button>
  <input type="submit" value="Save changes" />

</form>

<!-- Results -->
<!-- TODO: Link results here -->
<div id="result">
  <span id="result-title">Results</span>
  <div id="result-fp">
    <span id="result-fp-title">Points</span>
    <span id="result-fp-points">XX FPs</span>
  </div>
  <div id="result-time">
    <span id="result-time-title">Time needed</span>
    <span id="result-time-days">XX days</span>
  </div>
</div>

<!-- Function list -->
<div id="function-list">
  <!-- TODO: Build a list of functions -->
</div>
