<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Header</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'" [opened]="false" class="mat-elevation-z2">
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-content">
      <p>Main content goes here</p>
    </div>

    <mat-toolbar class="footer" color="primary">
      <span>Footer</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
