<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
  <div id="header_menu">
    <app-header></app-header>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'" [opened]="false" class="mat-elevation-z2">
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="footer" color="primary">
      <app-footer></app-footer>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
