<form [formGroup]="userConfigForm" (ngSubmit)="save()" id="form-user-config">
  <mat-form-field id="user-price">
    <mat-label>Price per function point</mat-label>
    <input matInput type="number" formControlName="pricePerFP" aria-label="Price per function point" />
  </mat-form-field>

  <mat-form-field id="user-time">
    <mat-label>Hours per function point</mat-label>
    <input matInput type="number" id="user-time" formControlName="hoursPerFP" />
  </mat-form-field>

  <button mat-fab extended class="user-button" id="user-save" type="submit">Save</button>
</form>
