<div class="result-box">
  <div class="result-value">
    <span class="result-item-title">Function Points: </span>
    <span class="result-item-value">{{points}} FPs</span>
  </div>
  <div class="result-value">
    <span class="result-item-title">Time needed: </span>
    <span class="result-item-value">{{days.toFixed(0)}} days</span>
  </div>
  <div class="result-value">
    <span class="result-item-title">Project price: </span>
    <span class="result-item-value">R$ {{price.toFixed(2)}}</span>
  </div>
</div>
